@import "~antd/dist/antd.css";

.App {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 30px;
}

.ant-btn {
  background: #001529 !important;
  color: white !important;
  font-size: 16px;
  border-radius: 2px !important;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus .ant-btn:hover {
  outline: 0;
  border: 1px solid #fff !important;
}

.ant-btn::selection {
  background: #fff !important;
}

.iconTest {
  margin-bottom: -2px;
  margin-right: 8px;
}
